*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "open sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.row-100 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.row-column-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row-column {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.custom-font {
  font-family: "Playfair display", serif;
}
header {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  padding: 60px;
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading {
  font-size: 3rem;
  font-style: italic;
  padding: 0 1.2rem;
}

.banner-text {
  font-size: 0.9rem;
  font-weight: normal;
  background-color: #fff;
  color: black;
  padding: 30px;
}
.annon-section {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: #d9b1b3;
  color: white;
}

.annon {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 15px;
}

.annon-span {
  font-size: 6rem;
  line-height: 0;
}

.annon-section p {
  width: 50%;
  font-size: 0.8rem;
}

.gallery .img-container {
  height: 450px;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .gallery-img-1 {
  background-image: url(../images/gallery-1.jpeg);
}
.gallery .gallery-img-2 {
  background-image: url(../images/gallery-2.jpeg);
}
.gallery .gallery-img-3 {
  background-image: url(../images/gallery-3.jpeg);
}
.gallery .gallery-img-4 {
  background-image: url(../images/gallery-4.jpeg);
}
.gallery .gallery-img-5 {
  background-image: url(../images/gallery-5.jpeg);
}
.gallery .gallery-img-6 {
  background-image: url(../images/gallery-6.jpeg);
}
.coming-soon {
  background-color: #d9b1b3;
  color: white;
  padding: 50px 0;
}
.coming-soon .row-column-100 {
  justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
  text-align: center;
}

.coming-soon .coming-soon-heading {
  font-size: 4rem;
  font-style: italic;
}

.coming-soon .coming-soon-text {
  font-size: 1.3rem;
}

.coming-soon .coming-soon-form {
  margin-top: 35px;
}
.coming-soon-form .row-100 {
  justify-content: center;
}

.coming-soon-form .input-container {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.input-container .text-input,
.input-container .form-btn,
.cart {
  padding: 12px 10px;
  border-radius: unset;
  border-radius: 20px;
}

.input-container .form-btn,
.cart {
  background: black;
  color: white;
}
.image {
  background-repeat: no-repeat;
  display: flex;
}
.article-section {
  height: 600px;
  width: 150%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
}

.article-text {
  font-size: 1.25rem;
  margin: 60px 2px;
  margin-right: 0;
  position: relative;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-family: "Playfair display", serif;
  font-size: 3rem;
  font-style: italic;
  padding: 0 1.2rem;
  color: white;
}
.collection {
  background-color: #d9b1b3;
}
.spring-col {
  height: 300px;
  width: 300px;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
}

.arrow {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  color: white;
}
.product-image {
  height: 350px;
  width: 420px;
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 30px 30px 25px;
  float: left;
}
.product {
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product img {
  padding: 5px;
}

.sample-product {
  text-align: left;
}
.sample-product h3 {
  padding-bottom: 20px;
}
.sample-product h6 {
  font-size: 12px;
}
.sample-product input {
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
  width: 150px;
  border: none;
  padding: 5px 0;
}
p {
  text-align: left;
  padding-left: 20px;
}
.subscribe {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe hr {
  width: 85%;
  border: 4px solid rgb(255, 136, 0);
  margin: 20px auto;
}

.subscribe h2 {
  padding: 15px 0px 30px;
  font-family: playfair, serif !important;
  font-size: 60px;
}
.subs-input {
  padding: 20px 0 10px;
}
.subscribe input {
  width: 250px;
  margin: 5px;
}
.subscribe input[type="button"] {
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 100px;
  padding: 5px;
}
.subscribe h5 {
  margin: auto;
  width: 50%;
  padding: 15px;
  font-size: 12px;
}

.subscribe-side img {
  width: 20px;
  height: 20px;
}
