*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "open sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.row-100 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.row-column-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row-column {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.custom-font {
  font-family: "Playfair display", serif;
}
header {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
  padding: 60px;
  background-image: url(../images/banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-heading {
  font-size: 3rem;
  font-style: italic;
  padding: 0 1.2rem;
}

.banner-text {
  font-size: 0.9rem;
  font-weight: normal;
  background-color: #fff;
  color: black;
  padding: 30px;
}
.annon-section {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  background-color: #d9b1b3;
  color: white;
}

.annon {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 15px;
}

.annon-span {
  font-size: 6rem;
  line-height: 0;
}

.annon-section p {
  width: 50%;
  font-size: 0.8rem;
}

.gallery .img-container {
  height: 450px;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery .gallery-img-1 {
  background-image: url(../images/gallery-1.jpeg);
}
.gallery .gallery-img-2 {
  background-image: url(../images/gallery-2.jpeg);
}
.gallery .gallery-img-3 {
  background-image: url(../images/gallery-3.jpeg);
}
.gallery .gallery-img-4 {
  background-image: url(../images/gallery-4.jpeg);
}
.gallery .gallery-img-5 {
  background-image: url(../images/gallery-5.jpeg);
}
.gallery .gallery-img-6 {
  background-image: url(../images/gallery-6.jpeg);
}
.coming-soon {
  background-color: #d9b1b3;
  color: white;
  padding: 50px 0;
}
.coming-soon .row-column-100 {
  justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
  text-align: center;
}

.coming-soon .coming-soon-heading {
  font-size: 4rem;
  font-style: italic;
}

.coming-soon .coming-soon-text {
  font-size: 1.3rem;
}

.coming-soon .coming-soon-form {
  margin-top: 35px;
}
.coming-soon-form .row-100 {
  justify-content: center;
}

.coming-soon-form .input-container {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.input-container .text-input,
.input-container .form-btn,
.cart {
  padding: 12px 10px;
  border-radius: unset;
  border-radius: 20px;
}

.input-container .form-btn,
.cart {
  background: black;
  color: white;
}
.image {
  background-repeat: no-repeat;
  display: flex;
}
.article-section {
  height: 600px;
  width: 150%;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px;
}

.article-text {
  font-size: 1.25rem;
  margin: 60px 2px;
  margin-right: 0;
  position: relative;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
  font-family: "Playfair display", serif;
  font-size: 3rem;
  font-style: italic;
  padding: 0 1.2rem;
  color: white;
}
.collection {
  background-color: #d9b1b3;
}
.spring-col {
  height: 300px;
  width: 300px;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 8px;
}

.arrow {
  display: flex;
  justify-content: center;
  padding: 0 5px;
  color: white;
}
.product-image {
  height: 350px;
  width: 420px;
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 30px 30px 25px;
  float: left;
}
.product {
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product img {
  padding: 5px;
}

.sample-product {
  text-align: left;
}
.sample-product h3 {
  padding-bottom: 20px;
}
.sample-product h6 {
  font-size: 12px;
}
.sample-product input {
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: 10px;
  text-align: center;
  width: 150px;
  border: none;
  padding: 5px 0;
}
p {
  text-align: left;
  padding-left: 20px;
}
.subscribe {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe hr {
  width: 85%;
  border: 4px solid rgb(255, 136, 0);
  margin: 20px auto;
}

.subscribe h2 {
  padding: 15px 0px 30px;
  font-size: 60px;
  font-family: "Playfair Display", serif !important;
  font-style: italic;
}
.subs-input {
  padding: 20px 0 10px;
}
.subscribe input {
  width: 250px;
  margin: 5px;
}
.subscribe input[type="button"] {
  border-radius: 100px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 100px;
  padding: 5px;
}
.subscribe h5 {
  margin: auto;
  width: 50%;
  padding: 15px;
  font-size: 12px;
}

.subscribe-side img {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  nav {
    width: 50%;
    padding: 10px;
  }

  .house-repair {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-positon: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", "Arial", "sans-serif";
    color: #999999;
  }

  header .header-link ul {
    list-style-type: none;
    display: flex;
  }

  header .header-link ul a {
    text-decoration: none;
    color: white;
  }

  header .header-link ul li {
    margin-right: 10px;
  }
  .green-text {
    color: #999999;
    font-family: "Roboto", "Arial", "sans-serif";
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .house-repair {
    padding-top: 200px;
  }

  .house-repair h1 {
    font-size: 50px;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-weight: 700;
    margin: 0;
  }

  .house-repair hr {
    height: 11px;
    width: 65%;
    border: 4px solid white;
    transform-origin: left center;
    margin: 30px auto 0 0;
  }
  .house-repair hr {
    height: 10px;
    width: 40%;
    background: #fff;
    border: none;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 20px 0;
    text-align: center;
  }

  .icons-container p {
    font-size: 16px;
  }
  .icons-container img {
    width: 155px;
  }
  .book-now {
    width: 100%;
    padding: 100px;
    background-color: rgb(235, 230, 230);
    text-align: center;
  }

  .book-now-container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .book-now-container h5 {
    font-size: 20px;
    color: #999999;
    font-weight: lighter;
    line-height: 1.6;
    padding: 30px;
  }

  .book-container h1 {
    font-size: 45px;
    color: #111111;
    font-weight: bold;
  }

  .book-now-container p {
    font-size: 25px;
    font-weight: lighter;
    color: #111111;
    padding: 30px;
  }

  .book-now .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
  }

  .book-now .button-container input:hover {
    background-color: #b80a13;
    transition: 1.5s;
  }
  .help {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  .help-container {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
  }

  .help-container .gallery-1 {
    width: 50%;
    text-align: center;
  }

  .help .help-container p {
    padding: 90px;
    font-size: 21px;
  }

  .help-container .gallery-1 .img-container-1 img {
    width: 100%;
  }

  .help-container .gallery-2 {
    width: 50%;
  }
  .help-container .gallery-2 h2 {
    font-size: 31px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .help-container .gallery-2 h3 {
    font-size: 25px;
    color: #e71a23;
    padding-bottom: 80px;
  }
  .help-container .gallery-2 .img-container-1 img {
    width: 100%;
  }
  .best-quality {
    width: 100%;
    background-color: rgb(209, 201, 201);
  }

  .best-quality-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .best-quality-container .gallery-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .best-quality-container .gallery-2 h2 {
    font-size: 71px;
    color: #104e92;
  }

  .best-quality-container .gallery-2 hr {
    width: 100%;
    height: 10px;
    background-color: #e71a23;
    margin: 20px 0;
  }

  .best-quality-container .gallery-2 p {
    font-size: 23px;
    line-height: 1.6;
  }

  .best-quality .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
  }

  .best-quality .button-container input:hover {
    background-color: red;
    transition: 1.5s;
  }
  #services {
    width: 100%;
    padding: 100px 0;
  }

  .services-container {
    width: 80%;
    margin: 0 auto;
  }

  .services-container h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .services-list {
    display: flex;
    justify-content: space-evenly;
  }

  .service-items {
    width: 20%;
  }

  .service-items img {
    background-color: red;
    width: 100px;
    border-radius: 50%;
  }
  .service-text h4 {
    font-size: 20px;
    margin: 20px 0;
  }

  .service-text p {
    font-size: 23px;
    font-style: italic;
  }

  #about {
    width: 100%;
    background-color: #104e92;
    padding: 100px 0;
  }

  .about-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .about-text {
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;
  }

  .about-text h6 {
    font-size: 25px;
    font-weight: lighter;
  }

  .about-text h3 {
    font-size: 80px;
    font-weight: bold;
  }
  .about-text h3 .span-text {
    font-size: 80px;
    font-weight: bolder;
  }

  .about-container .img-gallery {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about-container .img-gallery .showcase-1 {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
  }

  .about-container .img-gallery .showcase-2 {
    display: flex;
    gap: 2.5rem;
  }

  .sub-img img {
    width: 280px;
    height: 260px;
  }

  #todo {
    width: 100%;
    padding: 100px;
    background-color: rgb(235, 230, 230);
    text-align: center;
  }

  .todo-container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .todo-container h5 {
    font-size: 20px;
    color: #999999;
    font-weight: lighter;
    line-height: 1.6;
    padding: 30px;
  }

  .todo-container h2 {
    font-size: 61px;
    color: #111111;
    font-weight: bold;
  }

  .todo-container p {
    font-size: 30px;
    font-weight: lighter;
    color: #111111;
    padding: 30px;
  }

  .todo-container .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .todo-container .btn .button-container-1 .call-btn {
    font-size: 15px;
    background: transparent;
    padding: 16px 42px;
    color: #454545;
    border: 1px solid #4545;
  }

  #todo .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
  }

  #todo .button-container input:hover {
    background-color: #b80a13;
    transition: 1.5s;
  }

  footer {
    align-items: center;
    background-color: gray;
  }
}
@media (max-width: 430px) {
  nav {
    width: 60%;
    padding: 10px;
  }

  .house-repair {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 3rem;
    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-positon: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", "Arial", "sans-serif";
    color: #999999;
  }

  header .header-link ul {
    list-style-type: none;
    display: flex;
  }

  header .header-link ul a {
    text-decoration: none;
    color: white;
  }

  header .header-link ul li {
    margin-right: 10px;
  }
  .green-text {
    color: #999999;
    font-family: "Roboto", "Arial", "sans-serif";
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .house-repair {
    padding-top: 200px;
  }

  .house-repair h1 {
    font-size: 50px;
    font-size: 6rem;
    text-transform: uppercase;
    font-family: "Archivo Black";
    font-weight: 700;
    margin: 0;
  }

  .house-repair hr {
    height: 11px;
    width: 65%;
    border: 4px solid white;
    transform-origin: left center;
    margin: 30px auto 0 0;
  }
  .house-repair hr {
    height: 10px;
    width: 40%;
    background: #fff;
    border: none;
  }

  .icons-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 20px 0;
    text-align: center;
  }

  .icons-container p {
    font-size: 16px;
  }
  .icons-container img {
    width: 155px;
  }
  .book-now {
    width: 100%;
    padding: 100px;
    background-color: rgb(235, 230, 230);
    text-align: center;
  }

  .book-now-container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .book-now-container h5 {
    font-size: 20px;
    color: #999999;
    font-weight: lighter;
    line-height: 1.6;
    padding: 30px;
  }

  .book-container h1 {
    font-size: 45px;
    color: #111111;
    font-weight: bold;
  }

  .book-now-container p {
    font-size: 25px;
    font-weight: lighter;
    color: #111111;
    padding: 30px;
  }

  .book-now .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
  }

  .book-now .button-container input:hover {
    background-color: #b80a13;
    transition: 1.5s;
  }
  .help {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  .help-container {
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 0 auto;
  }

  .help-container .gallery-1 {
    width: 50%;
    text-align: center;
  }

  .help .help-container p {
    padding: 90px;
    font-size: 21px;
  }

  .help-container .gallery-1 .img-container-1 img {
    width: 100%;
  }

  .help-container .gallery-2 {
    width: 50%;
  }
  .help-container .gallery-2 h2 {
    font-size: 31px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .help-container .gallery-2 h3 {
    font-size: 25px;
    color: #e71a23;
    padding-bottom: 80px;
  }
  .help-container .gallery-2 .img-container-1 img {
    width: 100%;
  }
  .best-quality {
    width: 100%;
    background-color: rgb(209, 201, 201);
  }

  .best-quality-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .best-quality-container .gallery-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .best-quality-container .gallery-2 h2 {
    font-size: 71px;
    color: #104e92;
  }

  .best-quality-container .gallery-2 hr {
    width: 100%;
    height: 10px;
    background-color: #e71a23;
    margin: 20px 0;
  }

  .best-quality-container .gallery-2 p {
    font-size: 23px;
    line-height: 1.6;
  }

  .best-quality .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
  }

  .best-quality .button-container input:hover {
    background-color: red;
    transition: 1.5s;
  }
  #services {
    width: 100%;
    padding: 100px 0;
  }

  .services-container {
    width: 80%;
    margin: 0 auto;
  }

  .services-container h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .services-list {
    display: flex;
    justify-content: space-evenly;
  }

  .service-items {
    width: 20%;
  }

  .service-items img {
    background-color: red;
    width: 100px;
    border-radius: 50%;
  }
  .service-text h4 {
    font-size: 20px;
    margin: 20px 0;
  }

  .service-text p {
    font-size: 23px;
    font-style: italic;
  }

  #about {
    width: 100%;
    background-color: #104e92;
    padding: 100px 0;
  }

  .about-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .about-text {
    width: 50%;
    padding-left: 100px;
    padding-top: 100px;
  }

  .about-text h6 {
    font-size: 25px;
    font-weight: lighter;
  }

  .about-text h3 {
    font-size: 80px;
    font-weight: bold;
  }
  .about-text h3 .span-text {
    font-size: 80px;
    font-weight: bolder;
  }

  .about-container .img-gallery {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .about-container .img-gallery .showcase-1 {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
  }

  .about-container .img-gallery .showcase-2 {
    display: flex;
    gap: 2.5rem;
  }

  .sub-img img {
    width: 280px;
    height: 260px;
  }

  #todo {
    width: 100%;
    padding: 100px;
    background-color: rgb(235, 230, 230);
    text-align: center;
  }

  .todo-container {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .todo-container h5 {
    font-size: 20px;
    color: #999999;
    font-weight: lighter;
    line-height: 1.6;
    padding: 30px;
  }

  .todo-container h2 {
    font-size: 61px;
    color: #111111;
    font-weight: bold;
  }

  .todo-container p {
    font-size: 30px;
    font-weight: lighter;
    color: #111111;
    padding: 30px;
  }

  .todo-container .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .todo-container .btn .button-container-1 .call-btn {
    font-size: 15px;
    background: transparent;
    padding: 16px 42px;
    color: #454545;
    border: 1px solid #4545;
  }

  #todo .button-container input {
    font-size: 15px;
    background-color: #e71a23;
    padding: 16px 42px;
    color: #ffff;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
  }

  #todo .button-container input:hover {
    background-color: #b80a13;
    transition: 1.5s;
  }

  footer {
    align-items: center;
    background-color: gray;
  }
}
